.register_component {
  color: white;
  display: block;
  margin: auto;
  margin-top: 9%;
  width: 45vw;
}
.main-title .Unlimited-text {
  width: 100%;
  font-size: 2.1rem;
  font-weight: 795;
  text-align: center;
}
.small-text {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .register_component {
    color: white;
    margin-top: 15%;
    width: 100vw;
    text-align: center;
  }
}
