.forgetPage {
  height: 100vh;
  background-image: url(../../../assets//loginbg.jpg);
  background-color: black;
}

.section {
  width: 60%;
  margin: auto;
  display: block;
}
.card {
  margin-left: 20%;
  padding: 5%;
  width: 60%;
  border-radius: 1%;
}
.cardFooter {
  font-size: 16px;
}
.footer .signIn_text {
  color: white;
}
@media only screen and (max-width: 600px) {
  .card {
    margin-left: 5%;
    padding: 5%;
    width: 90%;
    border-radius: 1%;
  }
  .section {
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 20%;
  }
  .forgetPage {
    height: 100vh;
    background-size: contain;
    background-image: url(../../../assets//loginbg.jpg);
    background-color: black;
  }
}
